<% include ./partials/header %>
    <% include ./partials/nav %>
        <br>

        <body class="style">


            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                    
                        <h3>
                            <%= data.firstname %>
                                <%= data.middlename %>
                                    <%= data.lastname %>
                        </h3>
                        <h3>
                            <%= data.gender %>
                        </h3>
                        <h3>
                            <%= data.email%>
                        </h3>
                        <h3>
                            <%= data.phone_no %>
                        </h3>
                        <h3>
                            <%= data.state %>
                        </h3>
                        <h3>
                            <%= data.LGA %>
                        </h3>
                        <h3>
                            <%= data.course%>
                        </h3>
                       <h3> <span><%= data.created.toDateString() %></span><h3>
                        <form method="POST" action="/student/<%= data._id %>?_method=DELETE">
                            <button>Delete</button>
                            <a href="/edit_student<%= data._id %>">Edit</a>
                        </form>


                    </div>

                </div>
            </div>
            <% include ./partials/footer %>
        </body>